<% include partials/header %>

<body class="text-center">
<main class="main-content-terms  pt-5 mt-5">

    <div class="container">
    <section id="terms" class='gradient-faded-terms smb-5'>
        <h1 class="text-center section-title cardhead mb-5">Welcome to Support. How can we help?</h1>
            <p>
                <div class="row">
                    <div class="col-lg-3">
                        
                    </div>
                    <div class="col-lg-6">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" placeholder="Describe your issue" style="resize: none;" name="issue"></textarea>
                            </div>
                            <a href="/" class="btn btn-primary btn-block">Search</a>
                        </form>
                    </div>
                </div>
            </p>
            <p>
                <a href="/">Have a question?</a>
            </p>
    </section>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <!--features-->
</main>
</body>
<% include partials/footer %>